.about {
  margin-top: 72px;
  margin-bottom: 24px;
  @include tablet-min {
    margin-top: 152px;
    margin-bottom: 152px;
  }
  @include desktop-max {
    margin-bottom: 305px;
  }
  @include desktop-min {
    margin-top: 175px;
  }

  &-text {
    padding: 32px 0 64px;
    @include tablet-min {
      width: 328px;
      padding: 0px;
    }
    @include desktop-min {
      color: $black-color;
      width: 544px;
    }
  }

  &-years__title {
    font-size: 96px;
    line-height: 82px;
    letter-spacing: -0.05em;
    padding-bottom: 8px;
  }

  &-years__text {
    @include mobile-max {
      padding-bottom: 48px;
    }
  }

  &-years__wrapper {
    padding-top: 48px;
    background-image: url("../images/Crumbs.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

    @include tablet-min {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 80px;
      padding-top: 72px;
    }
    @include desktop-min {
      padding-top: 144px;
    }
  }

  &-wrapper {
    @include tablet-min {
      display: flex;
      justify-content: space-between;
    }
  }
  &-card {
    @include tablet-min {
      width: 328px;
    }
  }
}
