.creative-bakery {
  &__image {
    display: block;
  }
  &__text {
    padding: 32px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    @include tablet-min {
      width: 280px;
      text-align: start;
      padding-bottom: 16px;
    }

    @include desktop-min {
      width: 260px;
      padding: 0 0 8px 0;
    }
  }

  &__logo {
    font-weight: 400;
    font-size: 64px;
    line-height: 54.4px;
    text-align: center;
    color: $secondary-color;
    text-transform: uppercase;

    @include tablet-min {
      position: absolute;
      top: 40%;
    }
    @include desktop-min {
      position: unset;
    }

    @include desktop-min {
      font-size: 136px;
      line-height: 116px;
      letter-spacing: -5px;
    }
  }

  &__wrapper {
    @include tablet-min {
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
    }

    @include desktop-min {
      height: 546px;
    }
  }
  &__image {
    @include desktop-min {
      width: 544px;
      height: 546px;
      display: block;
      margin: auto;
    }
  }
  &__container {
    @include desktop-min {
      position: relative;
      margin-bottom: 152px;
    }
  }
}
.creative-text__container {
  @include desktop-min {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    inset: 0;
  }
}
